@{
    ViewData["Title"] = "Carrossel";
}

@model IList<Produto>;
<h3>Catálogo</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            const int TAMANHO_PAGINA = 4;
            var paginas = (int)Math.Ceiling((decimal)Model.Count() / TAMANHO_PAGINA);

        }

        @for (int pg = 0; pg < paginas; pg++)
        {
            <div class="item @(pg == 0 ? "active" : "")">
                <div class="row">

                    @{
                        var produtosDaPagina =
                            Model.Skip(pg * TAMANHO_PAGINA)
                            .Take(TAMANHO_PAGINA);
                    }

                    @foreach (Produto produto in produtosDaPagina)
                    {
                        <div class="col-md-3 col-sm-3 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @*O parenteses após o arroba serve para delimitar até onde vai nosso código csharp*@
                                    <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                </div>
                                <div class="panel-footer produto-footer">
                                    <div class="produto-nome">@produto.Nome</div>
                                    <div><h4><strong>@produto.Preco</strong></h4></div>
                                    <div class="text-center">
                                        @*
                                            Atributos com prefixo "asp-" indicam tag-helpers,
                                            ou seja, atributos especiais que serão utilizados
                                            pela engine de renderização do .NET Core.

                                            As tag helpers são a nova implementação dos
                                            Html Helpers (ex: @Html.Action("controller", "action"))
                                            do ASP.NET MVC (.NET Framework)

                                            Como estamos chamando uma action que também é da controller
                                            "Pedido", podemos omitir o asp-controller

                                            Para passar dados numa navegação nós utilizamos a tag helper
                                            'asp-route', que nos permite adicionar
                                            parametros da seguinte forma: asp-route-param

                                            Geralmente esse 'param' é passado via queryParam, o que geraria
                                            por exemplo a url  /Pedido/Carrinho?codigo=codigoDoProdutoAqui,
                                            Entretanto,como no startup nossas rotas estão configuradas para
                                            receber (de forma opcional) um 'codigo' e utilizamos o param 'codigo'
                                            (asp-route-codigo) a url a ser gerada será /Pedido/Carrinho/codigoDoProdutoAqui

                                        *@
                                        <a asp-action="carrinho"
                                           asp-route-codigo="@produto.Codigo"
                                           class="btn btn-success">Adicionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>